* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #d8d8d8;

    background-repeat: no-repeat;
    font-family: 'Life Savers', cursive;
    color: #2c4f40;
    margin: 0;
}

.header-logo {
    height: 150px;
    margin-right: auto;
}

h1 {
    font-size: 3.0rem;
    letter-spacing: 0.1rem;
}

.header {
    background-color: #8bb679;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px #2c4f40;

}

.nav-items {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #13221c;
    font-weight: 700;
    letter-spacing: 0.08rem;
    margin-left: auto;
    gap: 15px;
}

main {
    display: flex;
    flex-direction: column;
    margin: 40px;
    gap: 20px;
    width: 80%;

}

/* .home-main {
    background: no-repeat center/90% url('./images/joanna-boj-MhOoD_h90ks-unsplash.jpg');
    padding: 30px 0;
} */

.home-topDiv,
.home-bottomDiv {
    display: flex;
    width: 100%;
    border: 2px solid #2c4f40;
}

.home-image {
    width: 40%;
}

.section-home {
    width: 50%;
    background-color: #d8d8d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;

    opacity: .9;

}

.section-home h2 {
    font-size: 2.0rem;
    margin-bottom: 15px;
    color: #13221c;
}

.section-home p {
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #13221c;
}



.menu-div {
    display: flex;

    box-shadow: 0px 0px 10px #13221c;
    width: 80%;
}

.menu-side-image,
.home-image {
    opacity: 0.85;
}

.full-menu {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #d8d8d8;

    padding: 10px;
    margin: 20px 0;
    height: fit-content;
    border-radius: 5px;
}



.menu-items>li {
    font-size: 1.5rem;
    color: #13221c;
    list-style: none;
}